ALTER TABLE stores ADD COLUMN IF NOT EXISTS is_approved BOOLEAN DEFAULT FALSE;

-- Addresses tablosundaki zorunlu olmayan alanları optional yap
ALTER TABLE addresses ALTER COLUMN city DROP NOT NULL;
ALTER TABLE addresses ALTER COLUMN district DROP NOT NULL;
ALTER TABLE addresses ALTER COLUMN neighborhood DROP NOT NULL;
ALTER TABLE addresses ALTER COLUMN title DROP NOT NULL;

-- Categories tablosunu oluştur
CREATE TABLE IF NOT EXISTS categories (
    id SERIAL PRIMARY KEY,
    name TEXT NOT NULL,
    slug TEXT UNIQUE,
    description TEXT,
    parent_id INTEGER REFERENCES categories(id) ON DELETE CASCADE,
    image TEXT,
    is_active BOOLEAN DEFAULT TRUE,
    sort_order INTEGER DEFAULT 0,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Örnek ana kategoriler ekle
INSERT INTO categories (name, slug, description, sort_order) VALUES
('Yemek', 'yemek', 'Restoran ve yemek siparişleri', 1),
('Market', 'market', 'Market ve gıda ürünleri', 2),
('Su', 'su', 'Su ve içecek siparişleri', 3),
('Çiçek', 'cicek', 'Çiçek ve süs bitkileri', 4)
ON CONFLICT (slug) DO NOTHING;

-- Yemek alt kategorileri

-- Market alt kategorileri

-- Su alt kategorileri

-- Çiçek alt kategorileri

-- Auth trigger'ları
-- Yeni kullanıcı kayıt olduğunda public.users tablosuna da ekle
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER AS $$
BEGIN
    INSERT INTO public.users (id, name, email, first_name, last_name, phone, role, avatar_url, created_at, updated_at)
    VALUES (
        NEW.id,
        COALESCE(NEW.raw_user_meta_data->>'name', NEW.email),
        NEW.email,
        COALESCE(NEW.raw_user_meta_data->>'firstName', ''),
        COALESCE(NEW.raw_user_meta_data->>'lastName', ''),
        COALESCE(NEW.raw_user_meta_data->>'phone', ''),
        COALESCE(NEW.raw_user_meta_data->>'role', 'user'),
        NEW.raw_user_meta_data->>'avatar_url',
        NOW(),
        NOW()
    )
    ON CONFLICT (id) DO UPDATE SET
        name = COALESCE(EXCLUDED.name, public.users.name),
        email = EXCLUDED.email,
        first_name = COALESCE(EXCLUDED.first_name, public.users.first_name),
        last_name = COALESCE(EXCLUDED.last_name, public.users.last_name),
        phone = COALESCE(EXCLUDED.phone, public.users.phone),
        role = COALESCE(EXCLUDED.role, public.users.role),
        avatar_url = COALESCE(EXCLUDED.avatar_url, public.users.avatar_url),
        updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE OR REPLACE TRIGGER on_auth_user_created
AFTER INSERT ON auth.users
FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- Kullanıcı silindiğinde public.users tablosundan da sil
CREATE OR REPLACE FUNCTION public.handle_user_delete()
RETURNS TRIGGER AS $$
BEGIN
    DELETE FROM public.users WHERE id = OLD.id;
    RETURN OLD;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE OR REPLACE TRIGGER on_auth_user_deleted
AFTER DELETE ON auth.users
FOR EACH ROW EXECUTE FUNCTION public.handle_user_delete();
